* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EED1B0;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

footer {
    height: 100px;
    background: linear-gradient(90deg, #5F1826, rgb(43, 43, 160))
}

aside {
    float: left;
    background-color: #b9a48c;
}

main {
    display: block;
}
  
header {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #5F1826, rgb(43, 43, 160));
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: inline-block;
    background: #21216300;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 36px;
    height: 70px;
    transition: 0.4s ease;
    padding-top: 30px;
    width: 100%;
}

ul {
    list-style: none;
}

nav ul li {
    float: left;
    margin-right: 30px;
    text-align: center;
    height: 100px;
    transition: 0.4s ease;
}

nav ul li:hover {
    float: left;
    margin-right: 30px;
    text-align: center;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4b131e;
    transition: 0.4s ease;
}

nav ul li:hover a {
    float: left;
    margin-right: 30px;
    text-align: center;
    height: 70px;
    background-color: #4b131e;
    transition: 0.4s ease;
}

nav ul li > ul {
    position: absolute;
    display: none;
    top: 100px;
}

li > ul > li {
    width: 400px;
    font-size: 10px;
}

li ul li a {
    font-size: 24px;
}

.list:hover > ul > li {
    float: none;
}

nav .list:hover .submenu {
    display: block;
    left: 0;
    background: linear-gradient(90deg, #5F1826, rgb(43, 43, 160));
    transition: 0.4s ease;
    padding-bottom: 30px;
}

nav .list:hover .submenu li {
    display: block;
    left: 0;
    background: linear-gradient(90deg, #5F1826, rgb(43, 43, 160));
    transition: 0.4s ease;
}

nav .list:hover .submenu li a {
    display: block;
    left: 0;
    background: linear-gradient(90deg, #5F1826, rgb(43, 43, 160));
    transition: 0.4s ease;
}

nav .list:hover .submenu li:hover {
    background: linear-gradient(90deg, #4b131e, rgb(33, 33, 121));
    transition: 0.4s ease;
}

nav .list:hover .submenu li:hover a {
    background: linear-gradient(90deg, #4b131e, rgb(33, 33, 121));
    transition: 0.4s ease;
}

form {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
}

form input {
    height: 32px;
    width: 50%;
    background-color: #D9D9D9;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
}

form input:hover {
    height: 32px;
    width: 50%;
    background-color: #b1b1b1;
    border-radius: 15px;
}

form label {
    font-size: 48px;
}

.pole {
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}

.input {
    margin-top: 20px;
}

#submit {
    background-color: #212163;
    color: white;
    margin: 0 auto;
    font-size: 24px;
    height: 54px;
    box-shadow: 0px 0px;
}

.submit {
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.chat {
    width: 100%;
    border-radius: 15px;
    height: 470px;
    overflow-y: scroll;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: default;
}

.message {
    font-size: 24px;
}


.send_message {
    width: 90%;
    height: 165px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
}

.send_message input {
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    height: 50px;
}

.send_message input:hover {
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    height: 50px;
}

.send_message button[type="button"] {
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    border-radius: 50%;
}