{% extends "base.html" %}

{% block content %}
	<form action="" method="post">
        <div class="pole">
            <h1 style="margin: 0 auto; font-size: 48px;">Регистрация</h1>
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name != 'csrf_token' %}
                <div class="input">
                        {{ field.label() }}
                        {{ field() }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %} 
            <div class="submit">
                <input type="submit" value="Зарегистрироваться" id="submit">
            </div>
        </div>     
        <div>
            <p>{{ message }}</p>
        </div> 
	</form>
{% endblock %}